<!doctype html>

<html lang="en">
    <head >
		<meta charset="utf-8">
		<title>Gallery Page</title>
		<meta name="description" content="Homepage for the Gallery">
		<meta name="author" content="Lewis Lovette">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Gallery Page</h1>
		<p><a href="/logout">log out</a></p>

		{{#each user}}
		<div class="gallery">
				<img src="../avatars/avatar.png" alt="User Avatar" width="300" height="200">
				<div class="desc">{{user}}</div>
		</div>
		{{/each}}

		<!--
		{{#each item}}
		<div class="gallery">
  			<a target="_blank" href="{{BLOB}}">
				<img src={{BLOB}} alt="Cinque Terre" width="300" height="200">
  			</a>
  			<div class="desc">{{SHORTDESCRIPTION}}</div>
			  <div class="desc">{{PRICE}}</div>
		</div>
		{{/each}}
		-->

	</body>
</html>