<!doctype html>

<html lang="en">
    <head >
		<meta charset="utf-8">
		<title>Gallery Page</title>
		<meta name="description" content="Homepage for the Gallery">
		<meta name="author" content="Lewis Lovette">
		<link href="../style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Gallery Page</h1>
		<p><a href="/addItem">Add an Item</a></p>
		{{#if auth}}
			<p><a href="/logout">log out</a></p>
		{{/if}}
		{{#unless auth}}
			<p><a href="/login">log in</a></p>
		{{/unless}}

		
		<!--if authorised user, let them click on items-->
		{{#if auth}}
			{{#each data}}
				<a href="/items/{{this.id}}">
					<div class="gallery" >
						<img src='../items/{{this.title}}1.png' alt="Cinque Terre" width="300" height="200">
						<div class="title">{{this.title}}</div>
						<div class="interest">Users watching: {{this.interest}}</div>
						<div class="price" style="float:left">Price: £{{this.price}}</div>
					</div>
				</a>
			{{/each}}
		{{/if}}

		

		<!--else unable to click onto items-->
		{{#unless auth}}
			{{#each data}}
				<div class="gallery" >
					<img src='../items/{{this.title}}1.png' alt="Cinque Terre" width="300" height="200">
					<div class="title">{{this.title}}</div>
					<div class="price">£{{this.price}}</div>
					<div class="interest">Interested users: {{this.interest}}</div>
				</div>
			{{/each}}
		{{/unless}}

		

	</body>
</html>