<!doctype html>

<html lang="en">
    <head >
		<meta charset="utf-8">
		<title>{{this.title}}</title>
		<meta name="description" content="Homepage for the Gallery">
		<meta name="author" content="Lewis Lovette">
		<link href="style.css" type="text/css" rel="stylesheet" />



	</head>
	<body>
		<h1>{{this.title}}</h1>
		<p><a href="/gallery">back to home</a></p>
		<p><a href="/logout">log out</a></p>
		<p><a href="/addItem">Add an Item</a></p>
	
		<p class="name">Number of users interested in this item: {{numberOfInterested}}</p>

		{{#unless interested}}
			{{#each item}}
			<form action="/items/{{this.id}}/interested">
				<button type="submit" value="showInterest">show interest</button>
			</form>
			{{/each}}
		{{/unless }}

		{{#if interested}}
			{{#each item}}
			<form action="/items/{{this.id}}/uninterested">
				<button type="submit" value="showInterest">remove interest</button>
			</form>
			{{/each}}
		{{/if}}

		{{#each user}}
		<a href="/user/{{this.id}}" >
			<img src='../avatars/{{this.user}}.png' alt="../avatars/avatar.png" width="75" height="50">
			<div class="name">Username: {{this.user}}</div>			
		</a>
		{{/each}}

		{{#each item}}
			<form action="/items/{{this.id}}/email">
				<button type="submit" value="sendEmail">Contact Seller</button>
			</form>
		{{/each}}

		{{#each image}}
		<a href="/items/{{this}}_big.png" target="_blank">
			<img src='../items/{{this}}_small.png' alt="{{this.title}}" width="300" height="200">
			</a>
		{{/each}}

		{{#each item}}
			
			<div class="title">{{this.title}}</div>
			<div class="price">£{{this.price}}</div>
			<div class="shortDesc">Short description: {{this.shortDesc}}</div>
			<div class="longDesc">Long description: {{this.longDesc}}</div>
			<a href="/items/{{this.id}}/paypal">Buy this Item</a>

		{{/each}}

		
	</body>
</html>