<!doctype html>

<html lang="en">
    <head >
		<meta charset="utf-8">
		<title>{{this.title}}</title>
		<meta name="description" content="Homepage for the Gallery">
		<meta name="author" content="Lewis Lovette">
		<link href="style.css" type="text/css" rel="stylesheet" />


	</head>
	<body>
		<h1>{{this.title}}</h1>
		<p><a href="/addItem">Add an Item</a></p>
		<p><a href="/logout">log out</a></p>
		<!--
		<form action="/register" enctype="multipart/form-data" method="post">
			<p><input type="submit" value="Create"></p>
		</form>
		-->
		{{#each user}}
		<a href="/user/{{this.id}}" >
			<img src='../avatars/{{this.user}}.png' alt="{{this.user}}" width="75" height="50">
			<div class="name">Username: {{this.user}}</div>
			<div class="title" style="padding-bottom: 40px">Email: {{this.email}}</div>
		</a>
		{{/each}}

		{{#each id}}
			<img src='../items/{{this.title}}1.png' alt="{{this.title}}" width="300" height="200">
			<img src='../items/{{this.title}}2.png' alt="{{this.title}}" width="300" height="200">
			<img src='../items/{{this.title}}3.png' alt="{{this.title}}" width="300" height="200">
			<div class="title">{{this.title}}</div>
			<div class="price">£{{this.price}}</div>
			<div class="shortDesc">Short description: {{this.shortDesc}}</div>
			<div class="longDesc">Long description: {{this.longDesc}}</div>
		{{/each}}

		
	</body>
</html>