<!doctype html>

<html lang="en">
    <head >
		<meta charset="utf-8">
		<title>{{this.title}}</title>
		<meta name="description" content="Homepage for the Gallery">
		<meta name="author" content="Lewis Lovette">
		<link href="style.css" type="text/css" rel="stylesheet" />



	</head>
	<body>
		<h1>{{this.title}}</h1>
		<p><a href="/addItem">Add an Item</a></p>
		<p><a href="/logout">log out</a></p>

		{{#unless interested}}
			{{#each id}}
			<form action="/items/{{this.id}}/interested">
				<button type="submit" value="showInterest">show interest</button>
			</form>
			{{/each}}
		{{/unless }}

		{{#if interested}}
			{{#each id}}
			<form action="/items/{{this.id}}/unterested">
				<button type="submit" value="showInterest">remove interest</button>
			</form>
			{{/each}}
		{{/if}}

		{{#each user}}
		<a href="/user/{{this.id}}" >
			<img src='../avatars/{{this.user}}.png' alt="../avatars/avatar.png" width="75" height="50">
			<div class="name">Username: {{this.user}}</div>
			<div class="title" style="padding-bottom: 40px">Email: {{this.email}}</div>
		</a>
		{{/each}}

		{{#each image}}
			<img src='../items/{{this}}.png' alt="{{this.title}}" width="300" height="200">
		{{/each}}

		{{#each id}}
			
			<div class="title">{{this.title}}</div>
			<div class="price">£{{this.price}}</div>
			<div class="shortDesc">Short description: {{this.shortDesc}}</div>
			<div class="longDesc">Long description: {{this.longDesc}}</div>
		{{/each}}

		
	</body>
</html>