<!doctype html>

<html lang="en">
    
    <head >
        {{#each user}}
		<meta charset="utf-8">
		<title>{{this.user}}s Page</title>
		<meta name="description" content="Homepage for this user">
		<meta name="author" content="Lewis Lovette">
		<link href="../style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>{{this.user}}s Page</h1>
		<p><a href="/logout">log out</a></p>

        <div class="user" >
            <img src='../avatars/{{this.user}}.png' alt="Cinque Terre" width="300" height="200">
            <div class="title">Name: {{this.user}}</div>
            <div class="title">Email: {{this.email}}</div>
            <!--<div class="title">{{this.paypal}}</div>-->
        </div>
        {{/each}}

        {{#each item}}
		<a href="/items/{{this.id}}">
			<div class="gallery" >
				<img src='../items/{{this.title}}1.png' alt="Cinque Terre" width="300" height="200">
				<div class="title">{{this.title}}</div>
				<div class="price">£{{this.price}}</div>
			</div>
		</a>
		{{/each}}
        
	</body>
    
</html>